/* Contact form styling */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contact-us h3 {
  margin-top: 0;
}
.contact-us form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.contact-us form textarea {
  margin-bottom: 20px;
  width: 50%;
}
.contact-us .dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}