/* Contact form styling */
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7.5%;
  width: 100%;
  
}
.contact-us h3 {
  margin: 10px 0;
}
.contact-us form {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  background-color: #fdf0d5;
  color: black;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);;
}
.contact-us form textarea {
  background-color: #fdf0d5;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 80%;
}
.contact-us .dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

button {
  padding: 5px;
  border-radius: 10px;
  background-color: #003049;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.8;
}