/* login page styling */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
 .login h2 {
  text-align: center;
 }

.login form {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
  background-color: #fdf0d5;
  color: black;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

input {
  width: 50%;
  background-color: #fdf0d5;
  padding: 5px;
  border-radius: 10px;
  border-color: black;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
button {
  width: 25%;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #003049;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.login form p {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .login form {
    width: 80%;
  }
}