html {
  background-color: #63848a;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #63848a;
  position: relative;
  /* height: 100vh; */
  width: 100%;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: calc(10px + 1vmin);
  background-color: #1e3327;
  z-index: 1;
}

.App-footer {
  text-align: center;
  font-size: calc(10px + 1vmin);
  background-color: #1e3327;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}


/* Header styling */
.App-header h2 {
  margin-bottom: 0;
}

p {
  margin: 0;
  font-size: 10px;
}

/* Navigation bar styling */
nav.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  /* background-color: #63848a; */
  background-color: #121815;
  padding: 1rem;
  z-index: 1;
  top: 10.7%;
}

.OTP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  background-color: #63848a;
}
.OTP form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.OTP form input {
  width: 100%;
}
.OTP form button {
  width: 40%;
}

.navbar-nav-left .nav-item {
  margin-right: 1rem;
}

.navbar-nav-right .nav-item:last-child {
  border-left: 1px solid #ccc;
  padding-left: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

span {
  color: #63848a;
}

/* Home page styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
}

.councilors-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 0;
}
.councilors-container h2 {
  margin-bottom: 0;
  text-align: center;
}

.best-councilors,
.worst-councilors {
  width: 40%;
  margin: 0px 40px;
  border: 1px solid  #1e3327;
}
.best-councilors {
  color: #1e3327;
}
.worst-councilors {
  color:darkred
}
.councilor-item {
  margin: 0px;
  text-align: center;
}
.user-Edu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}
.eduHeader h2 {
  margin: 0;
  font-size: 24px;
}
.eduHeader {
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 40px 0px 16px;
  width: 80%;
}

.eduHeader::before, 
.eduHeader::after {
  flex: 1;
  content: '';
  padding: 3px;
  border-top: 1px solid rgb(56, 56, 56);
  margin: 5px;
  opacity: 0.35;
}
.card-1,
.card-2,
.card-3 {  
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #121815;
  color: #fff;
  flex-wrap: wrap;
  flex: 0 0 25%;
}

.card-text {
  padding: 10px;
  margin: 0;
  text-align: start;
}

/* MyCouncilor page styling*/
.councilor-info .dropdowns {
  display: flex;
  /* flex-direction: column; */
  margin-top: 15%;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.councilor-selector {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 50%;
}

.councilor-info select {
  margin: 20px;
  line-height: 1.5;
  font-size: 16px;
}

.councilor-details {
  background-color: #121815;
  width: 50%;
  margin-bottom: 50px;
}

.rating-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-message {
  z-index: 1;
  color: aquamarine;
  padding: 10px;
}
.error-message {
  z-index: 1;
  color: rgb(209, 23, 23);
  padding: 10px;
}


.rate {
  width: 80%;
  display: flex;
  align-items: center;
}
.rate::before, 
.rate::after {
  flex: 1;
  content: '';
  padding: 3px;
  border-top: 1px solid rgb(236, 230, 230);
  opacity: 0.35;
}
.rating-form h5 {
  text-align: center;
  color: aquamarine;
}

h3 {
  line-height: 20px;
}
.stars {
  margin-bottom: 10px;
}
.rating-form textarea {
  margin-bottom: 10px;
  width: 50%;
}
.detail-info {
  display: flex;
  justify-content: center;
}

.detail-info h4 {
  margin: 16px;
}

table {
  border: 1px solid #121815;
  margin-bottom: 50px;
}

.table h3 {
  text-align: center;
}

table th,
table td {
  border: 1px solid #121815;
}
.province-list ul {
  list-style-type: none;
}

/* login page styling */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
 .login h2 {
  text-align: center;
 }

.login form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

input {
  margin-bottom: 20px;
  width: 50%;
}
button {
  width: 25%;
  text-align: center;
}

/* Contact form styling */
.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contact-us form textarea {
  margin-bottom: 20px;
  width: 50%;
}
.contact-us form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* Signup styling */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.signup h2 {
  text-align: center;
  margin-top: 10%;
}

.signup form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signup form .dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}
.signup form select {
  margin: 6px 4px;
}

ul {
  list-style: none;
  text-align: center;
}

